:root {
  --padding-page: 32px;

  --height-header: 64px;
  /* vh ? */
  --height-main: calc(100vh - var(--height-header));
  --height-actions: 36px;
  /* 3 paddings because there is a gap between actions and table */
  --height-main-table: calc(
    var(--height-main) - 3 * var(--padding-page) - var(--height-actions)
  );
}

* {
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
}

main {
  height: var(--height-main);
}

/* Create .page */
app-cats-page,
families-page {
  height: var(--height-main);
  padding: var(--padding-page);
}

tr {
  cursor: pointer;
}
