<page-with-header-content-action>
  <mat-toolbar header class="header" color="primary">
    <span>MistiBoard</span>
    <nav *ngIf="core.core.authentification.getIsAuth()">
      <a [routerLink]="['/cats']" mat-button> Chats </a>
      <a [routerLink]="['/families']" mat-button> Familles </a>
    </nav>
    <button
      mat-button
      *ngIf="core.core.authentification.getIsAuth()"
      (click)="core.core.authentification.signOut()"
    >
      Déconnexion
    </button>
  </mat-toolbar>
  <cat-table content></cat-table>
  <cat-add-button actions></cat-add-button>
</page-with-header-content-action>
